header {
    margin-bottom: 2vh;
    position: fixed;
    width: 100%;
    background-color: white
}
header .spacer {
    text-align: right;
}
section {
    margin-top: 12vh;
}
section .bookMenu {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
}
section .bookMenu ul {
    display: grid;
    grid-template-columns: repeat(3, 341.3px);
    height: 100%;
    line-height: 100%;
}
section .bookMenu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 0;
}
section #books {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    height: 20vh;
}


.book {
    height: 250px;
    display: grid;
    grid-template-columns: 170px 684px 170px;
    border-bottom: 1px solid lightgrey;
}

.book:first-child {
    border-top: 1px solid lightgrey;
}

.book:last-child {
    border-bottom: none;
}

.book-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-cover {
     width: 120px;
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-title {
    font-size: 1.1em;
    margin-bottom: 8px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    width: fit-content;
}

.book-sub-info {
    font-size: 0.9em;
    color: grey;
    margin-bottom: 15px;
}

.book-price {
    font-size: 0.9em;
    font-weight: 500;
}

.book-btns {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.btn-favorite, .btn-cart, .btn-buy {
    width: 100px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 0.9em;
    color: white;
}
.btn-favorite {
    background-color: #2563EB;
}
.btn-cart {
    background-color: #38BDF8;
}
.btn-buy {
    background-color: #F0F4F8;
    color: black;
}

#pagenation {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#prev-btn, #next-btn, .page-btn {
    font-size: 1.1em;
    margin: 0 12px 0 12px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.page-btn:hover{
    background-color: #2563EB;
    color: white
}
.current {
    background-color: #F59E0B;
    color: white
}