body {
    display: flex;
    justify-content: center;
}
.container {
    height: 100vh;
    width: 100vw;
    min-width: 1280px;
}
header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 5px grey;
}
header .title {
    font-size: 2.0em;
    flex: 1;
    text-align: center;
}
header .topMenu {
    flex: none;
}
header .spacer {
    flex: 1;
}
header .topMenu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}
header .topMenu ul li {
    margin-right: 40px;
    margin-left: 40px;
    font-size: 1em;
}
footer {
    background-color: #1E293B;
    height: 20vh;
}